.hide{
	display: none;
}
span#MyButton {
    position: relative;
    float: right;
    top: -14px;
    right: -6px;
    cursor: pointer;
}
#sub3 {
    right: 5px!important;
    position: fixed;
    top: 130px;
    box-shadow: rgba(113, 113, 112, 0.45) 2px 1px 10px 1px;
    background: rgb(255, 255, 255);
    padding: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    font-family: inherit;
    display: none;

}


#sub4{
    right: 5px!important;
    position: fixed;
    top: 130px;
    box-shadow: rgba(113, 113, 112, 0.45) 2px 1px 10px 1px;
    background: rgb(255, 255, 255);
    padding: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    font-family: inherit;
    display: none;
}

#sub5{
    right: 5px!important;
    position: fixed;
    top: 130px;
    box-shadow: rgba(113, 113, 112, 0.45) 2px 1px 10px 1px;
    background: rgb(255, 255, 255);
    padding: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    font-family: inherit;
    display: none;
}

div#closes {
    width: 10px;
    position: relative;
    right: -8px;
    float: right;
    bottom: 15px;
}
.myClass {
    position: fixed;
    top: 208px;
    background: #ffffff;
    padding: 17px;
    right: 4px;
    box-shadow: rgba(113, 113, 112, 0.45) 2px 1px 10px 1px;
    border: 1px solid #ccc;
}
.supp {
	            /*border: 3px inset red;*/
	            background: red;
	            color: white
	          }
	          .sub {
	            /*border: 3px inset red;*/
	            background: green;
	            color: white
	          }
	          
	          .mydiv{
	            background: #000;
	            color: white;
	          }

	          .normal{
	          	background: #fff;
	          	color: #000;

	          }

	          select#t0 {
    border: 1px solid #ccc;
    margin: 4px;
    width: 97px;
    height: 29px;
}

select#t1 {
    border: 1px solid #ccc;
    margin: 4px;
    width: 42px;
    height: 29px;
}

button#myid {
    border: 1px solid #cccccc30;
    padding: 7px;
    background: #1b74ff;
    color: #fff;
        cursor: pointer;
}